/* body */

body, html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

img {
    object-fit: cover;
    height: 100%;
}

a, a:visited {
    font-weight: bold;
    color: inherit;
}


/* header */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/curled-kittens.jpg");
    height: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 250px 0;
    color: white;
}

.img {
    border-radius: 100%;
    display: flex;
    flex: 0 0 150px;
    height: 150px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 150px;
    margin-right: 50px;
    margin-left: 50px;
    margin: 20px 50px;
}

.img img {
    height: 100%;
}

.img_overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
    background-color: rgba(46,204,113,0.4);
    background: linear-gradient(65deg, rgba(46,204,113,0.4), rgba(243,156,18,0.4));
    color: #fafafa;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.img_overlay:hover {
    opacity: 1;
}

#circles {
    width: 100%;
    text-align: center;
    background-color: #cae4db;
}

#circles .img {
    display: inline-block;
}


/* main */

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 150px  [col2-start] 150px  [col3-start] 100px [col4-start] 100px [col5-start] 100px [col6-start] 100px [col6-end];
    grid-template-rows: [row1-start] 100px [row2-start] 100px [row3-start] 100px [row4-start] 75px [row5-start] 75px [row5-end];
    justify-items: center;
    justify-content: center;
    margin: 25px 0;
    padding: 100px;
    color: white;
}

.weswrap {
    background-color: #aedbcb;
}

.willwrap {
    background-color: #7a9d96;

}

.tawnwrap {
    background-color: #00303f;
}
    
.pic {
    grid-column: col1-start / col4-start;
    grid-row: row1-start / row4-start;
}

.main-img {
    opacity: 0.8;
}
      
.heading {
    grid-column: col4-start / col6-end;
    grid-row: row1-start ;
    font-family: 'Amatic SC', cursive; 
}

.wesley {
    font-size: 100px;
    position: relative;
    bottom: 200px;
}

.willie {
    font-size: 100px;
    position: relative;
    bottom: 200px;
}

.tawny {
    font-size: 29px;
    position: relative;
    bottom: 100px;
    justify-self: center;
    text-align: center;
}
     
.q-cats {
    grid-column: col4-start / col6-end;
    grid-row: row2-start / row5-end;
    position: relative;
    top: 2px;
    font-size: 15px;
}

.weswill {
    position: relative;
    bottom: 5px;
}   

.skills {
    grid-column: col1-start / col4-start;
    grid-row: row4-start / row5-end;
    position: relative;
    top: 15px;
}

.wes {
    justify-self: left;
}

ul {
    list-style-type: circle;
    margin: 1px;
}

.tawnskills {
    position: relative;
    right: 60px;
}

.skills .bold {
    margin: 1px;
}

.gif {
    grid-column: col4-start / col6-end;
    grid-row: row4-start / row5-end;
    position: relative;
    bottom: 8px;
    justify-self: left;
}

.totop {
    position: relative;
    right: 30px;
    top: 10px;
}


/* article */

article {
    text-align: center;
    font-size: 11px;
}


/* footer */

footer {
    text-align: center;
    font-style: italic;
    margin: 1px;
}
